body{
    background-image: url('../media/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-small;
}

h2{
    text-align: center;
}

.boton-jugar-home{
    position: absolute;
    top: 82%;
    left: 46%;
    width: 160px;
    animation-name: animacion4;
    animation-duration: 7s;
    opacity: 1;
}

.boton-jugar-instrucciones{
    position: absolute;
    top: 87%;
    left: 48%;
    width: 160px;
    animation-name: animacion4;
    animation-duration: 7s;
    opacity: 1;
}


.dynaman{
    background-image: url("../media/dynaman.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    height: 172px;
    width: 443px;
    position: absolute;
    top: 37%;
    left: 37%;
    animation-name: animacion3;
    animation-duration: 4s;
    
}

.fondo-explosion{
    background-image: url("../media/fondo-explosion.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 555px;
    width: 612px;
    position: absolute;
    top: 14%;
    left: 33%;
    animation-name: animacion1;
    animation-duration: 4s;
  }
  

.dinamita-fondo{
    background-image: url("../media/dinamita-fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 262px;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 45%;
    animation-name: animacion2;
    animation-duration: 4s;
}

@keyframes animacion1 {
    0%   { left:-50%}
}

@keyframes animacion2 {
    0%   { left:100%}
}

@keyframes animacion3 {
    0%   { top:-50%}
}

@keyframes animacion4 {
    0%   { opacity: 0}
}

.container{
    display: flex;
}

#game{
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 29.5%;
    top: 5%;
}

#game2{
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 29.5%;
    top: 5%;
}

#game>div {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#game2>div {
    display: inline-block;
    width: 50px;
    height: 50px;
}


.stats{
    background-image: url('../media/fondo5.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 679px;
    width: 906px;
    top:9%;
    left: 22%;
    position: absolute;
}

.timer{
    color: rgb(255, 174, 0);
    position: absolute;
    width: 15px;
    height: 15px;
    top: 561px;
    left: 77px;
}

.tiempo{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 560px;
    left: 12px;
}

.timerBarra{
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 584px;
    left: 24px;
    height: 5px;
    width: 1px;
    max-width: 92px;
}

.salir{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 651px;
    left: 47px;
}
a{
    text-decoration: none;
    color: black;
}

.musica{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 610px;
    left: 60px;
}

.wall {
    background-image: url('../media/bloque.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.barriles {
    background-image: url("../media/barril.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.logo-marketing{
    background-image: url("../media/logo-marketing.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.logo-informatica{
    background-image: url("../media/logo-informatica.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.logo-turismo{
    background-image: url("../media/logo-turismo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.logo-administracion{
    background-image: url("../media/logo-administracion.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.dinamita{
    background-image: url("../media/dinamita.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.informatica{
    background-image: url('../media/logo-informatica.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 85px;
    height: 56px;
    top: 128px;
    left: 29px;
}

.marketing{
    background-image: url('../media/logo-marketing.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 85px;
    height: 56px;
    top: 232px;
    left: 29px;
}

.administracion{
    background-image: url('../media/logo-administracion.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 85px;
    height: 56px;
    top: 448px;
    left: 29px;
}

.turismo{
    background-image: url('../media/logo-turismo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 85px;
    height: 56px;
    top: 340px;
    left: 29px;
}

.informatica-check{
    background-image: url('../media/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 26px;
    height: 18px;
    top: 192px;
    left: 89px;
    visibility: hidden;
}

.marketing-check{
    background-image: url('../media/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 26px;
    height: 18px;
    top: 299px;
    left: 89px;
    visibility: hidden;
}

.turismo-check{
    background-image: url('../media/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 26px;
    height: 18px;
    top: 405px;
    left: 89px;
    visibility: hidden;
}

.administracion-check{
    background-image: url('../media/check.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 26px;
    height: 18px;
    top: 513px;
    left: 89px;
    visibility: hidden;
}

.informatica-texto{
    position: absolute;
    width: 26px;
    height: 18px;
    top: 202px;
    left: 20px;
}

.marketing-texto{
    position: absolute;
    width: 26px;
    height: 18px;
    top: 309px;
    left: 29px;
}

.turismo-texto{
    position: absolute;
    width: 26px;
    height: 18px;
    top: 416px;
    left: 17px;
}

.administracion-texto{
    position: absolute;
    width: 26px;
    height: 18px;
    top: 523px;
    left: 24px;
}

.logo-entero{
    background-image: url('../media/logo-entero.PNG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 97px;
    width: 85px;
    top: 10px;
    left: 30px;
}




/*.guy{
    position: absolute;
    background-image: url('media/personaje-rigth.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    z-index: 1;
}*/

/*----------------------PERSONAJE------------------------*/

.personaje-right {
    background-image: url('../media/personaje-right.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.personaje-left {
    background-image: url('../media/personaje-left.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.personaje-up {
    background-image: url('../media/personaje-up.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.personaje-down {
    background-image: url('../media/personaje-down.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

.personaje-muerto{
    background-image: url('../media/angel.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

/*---------------------------------------------------------------*/


/*-----------------------BOMBA----------------------------------*/

.bomba-centro{
    background-image: url('../media/explosion-centro.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.bomba-medio-horizontal{
    background-image: url('../media/explosion-medio-horizontal.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.bomba-medio-vertical{
    background-image: url('../media/explosion-medio-vertical.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin: 0;
}

.bomba-up {
    background-image: url('../media/explosion-up.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.bomba-down {
    background-image: url('../media/explosion-down.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.bomba-left {
    background-image: url('../media/explosion-left.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.bomba-right {
    background-image: url('../media/explosion-right.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

/*----------------------------------------------------------*/


.modal {
    display: none;
    position: fixed; 
    z-index: 4; 
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: fixed;
    display: block;
    background-color: #bbbbbb;
    height: 50%;
    width: 70%; 
    left: 15%;
    top: 20%;
  }

  .modal-body{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      height: 80%;
  }

  .modal-left{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-right{
    float: left;
    width: 50%;
    height: 100%;
    }


  .tabla{
      text-align: center;
        width: 100%;
        height: 80%;
  }

    tr:nth-child(odd) {
      background-color: #9b9b9b;
    }

  .modal-texto{
      text-align: left;
      width: 50%;
  }

  .modal-footer{
      height: 20%;
      width: 100%;
  }

  .boton-reset{
      position: absolute;
      border-radius: 20px;
  }

  .boton-back{
    position: absolute;
    border-radius: 20px;
}

  .titulo-instrucciones{
      color: #fff;
      position: absolute;
      top: 86px;
      left: 400px;
  }

  .texto-instrucciones{
    color: #fff;
    position: absolute;
    top: 171px;
    left: 223px;
    line-height: 30px;
    text-align: center;
    width: 600px;
    font-size: x-small;
}

.flechas{
    position: absolute;
    top: 298px;
    left: 423px;
}

.space-bar{
    position: absolute;
    top: 518px;
    left: 305px;
}