/*
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.background {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../media/fondos/fondoDesierto/fondoDesierto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}
*/

#containerScore {
    display: none;
}

#enhorabuenaGameOver {
    /*8.6*/
    margin-top: 40px;
    margin-bottom: 100px;
    
    width: 0px;
    height:0px;
    
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#woodTable {
    margin-top: 50px;
    /*margin-right: 60px;*/
    width: 500px;
    height: 390.13px;
    background-image: url(../media/woodTable.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#textResult {
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
    color: white;
    -webkit-text-stroke: 2px #e99e38;
    margin-left: 35px;

}

#gif {
    /*margin-top: 150px;*/
    margin-top: 50px;
    /*width: 387px;*/
    height: 400px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.buttonsScore {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#scoreRepeat {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-image: url(../media/repeatButton.png);

}

#scoreHouse {
    width: 100px;
    height: 100px;
    background-image: url(../media/homeButton.png);
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 60px;
}